<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @student_course.active %>
</p>

<%= link_to 'Edit', edit_school_student_course_path(@student_course.school, @student_course) %> |
<%= link_to 'Back', school_student_courses_path(@student_course.school) %>
